* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
.carousel.carousel-slider {
  overflow: visible;
}
.glide {
  overflow: hidden;
}
.card {
  color: white;

  background-color: transparent;
  overflow: hidden;
}

.title {
  color: white;
}
.tile.is-parent {
  padding: 0;
  .box {
    border-radius: 0;
  }
}
body {
  color: white;
  background-color: black;
  font-family: Capsuula;
}
html {
  min-width: 0px;
  height: 100%;
  background-color: #2c2a2b;
}
@font-face {
  font-family: "Capsuula";
  src: url("./fonts/Capsuula.ttf") format("truetype");
}

.inactive {
  display: none;
}

.hidden {
  display: none;
}
@media (max-width: 650px) {
  .inactive {
    display: block;
  }
}
@media (min-width: 650px) {
  .scroll-container {
    max-height: 100vh;
    overflow: hidden;
  }
}
.scroll-container {
  display: flex;

  overflow: hidden;
  justify-content: center;
  height: 100vh;
  @media (max-width: 650px) {
    overflow-y: auto;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.card-wrapper {
  @media (min-width: 650px) {
    display: none;
  }
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */

  .scroll-container {
    display: none;
  }
  .card-wrapper {
    display: block;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .scroll-container {
    display: none;
  }
  .card-wrapper {
    display: block;
  }
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .scroll-container {
    display: none;
  }
  .card-wrapper {
    display: block;
  }
  /* For landscape layouts only */
}
